html {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #fcfcfc;
  font-size: 1.6rem;
  /* font-weight: 500; */
  /* font-weight: lighter; */
}
/* ============header================*/
header {
  height: 5.5rem;
}
.top-nav {
  background: #fcfcfc;
  box-shadow: 0 5px 15px 0 rgba(51, 51, 51, 0.1);
  /* border-bottom: #dadada solid 1px; */
  width: 100%;
  position: fixed;
  /* padding: 1rem 0; */
  top: 0;
  z-index: 10;
}

.container {
  width: 1170px;
  margin: auto;
}

.top-nav .row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.top-nav__list-item {
  display: flex;
  width: 420px;
  /* margin: 0; */
  /* padding: 0; */
  align-items: center;
  justify-content: space-between;
}
.top-nav__list-item li a {
  text-decoration: none;
  color: black;
}

.top-nav__list-item li a:hover {
  color: rgb(64, 140, 240);
  cursor: pointer;
}

.top-nav__list-item li a img {
  width: 5rem;
}

.top-nav__list-item li {
  list-style: none;
  /* margin: 0 20px; */
  font-size: 2rem;
}

.top-nav__search {
  display: flex;
}
.container-input {
  flex-grow: 1;
  position: relative;
  height: 3.5rem;
  width: 22rem;
}
.top-nav__search input {
  height: 100%;
  width: 100%;
  padding: 0 1rem;
  border-radius: 5px 0 0 5px;
  outline: none;
  border: 1.5px solid #2f80ed;
}
.result-search {
  padding: 10px;
  width: 100%;
  position: absolute;
  list-style: none;
  border-radius: 3px;
}
.result-search li {
  height: 40px;
  width: 100%;
  padding: 5px;
  display: flex;
  border-radius: 5px;
}
.result-search li a i {
  margin-right: 10px;
}
.result-search li a {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
.result-search li:hover {
  background-color: #f3f2f2;
}

.result-search a {
  text-decoration: none;
  color: black;
}
.top-nav__search button {
  height: 3.5rem;
  width: 4rem;
  border: 0;
  background: linear-gradient(to right, #2f82ed 0%, #00afef 100%);
  border-radius: 0 5px 5px 0;
  outline: none;
  color: #ffffff;
  font-size: 2rem;
  cursor: pointer;
}
/* =================body======================*/
.row-main {
  margin-top: 2rem;
  display: flex;
  margin-bottom: 100px;
  /* align-items: stretch; */
}

.column-left {
  width: 840px;
}

.column-right {
  width: 300px;
  margin-left: 3rem;
}
.slider-defult__img-vertical {
  display: flex;
}
.slider-defult__img-vertical a {
  width: 100%;
  height: 339px;
}
img {
  width: 100%;
  height: 100%;
}

.slider-defult__small-img {
  display: flex;
  padding: 1rem 0;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
  /* justify-content: space-around; */
}

.slider-defult__small-img .column-img {
  flex-basis: 19.3%;
  margin: auto;
  border: 5px solid black;
}

.container-box {
  margin: 20px 0;
}

.box-title > a {
  text-decoration: none;
  color: #00afef;
}
.box-title > a > h2 {
  padding: 1rem 0;
  margin: 1rem 0;
  font-weight: lighter;
}
.list-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.list-box li {
  list-style: none;
  width: 18%;
}

.box-play {
  display: flex;
  position: relative;
}
.list-box li img {
  width: 152px;
  height: 152px;
  /* border-radius: 5px; */
}

.list-box li .overlay {
  width: 152px;
  height: 152px;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.5s;
}
.list-box li .overlay:hover {
  opacity: 1;
  cursor: pointer;
}

.overlay .far {
  font-size: 45px;
  transform: scale(0);
  transition: all 0.5s;
}

.overlay:hover .far {
  transform: scale(1);
}

.info-box a {
  text-decoration: none;
}
.info-box a > h3 {
  font-size: 17px;
  font-weight: lighter;
  padding: 10px 0;
  color: black;
}
.info-box a h3:hover {
  cursor: pointer;
  color: #00afef;
}

#box-img a img {
  margin-bottom: 85px;
}

/*
footer
*/

.footer {
  padding-top: 20px;
  background: #efefef;
  font-size: 14px;
}

.row-footer {
  display: flex;
  justify-content: space-between;
}

.footer-list {
  list-style: none;
  margin: 10px 0;
}
.footer-list .footer-item {
  padding: 10px 0;
}

.footer-item__link {
  text-decoration: none;
  color: gray;
}
.footer-item__link:hover {
  color: #00afef;
}

.fa-facebook-square {
  padding-left: 5px;
  color: #2f80ed;
  margin-right: 10px;
  transform: scale(2);
}

.fa-instagram {
  padding-left: 5px;
  margin: 10px 0;
  color: rgb(204, 54, 54);
  margin-right: 10px;
  transform: scale(2);
}

.fa-youtube {
  padding-left: 5px;
  color: rgb(233, 27, 27);
  margin-right: 10px;
  transform: scale(2);
}

.fa-map-marker-alt {
  padding-right: 10px;
  color: red;
}

.copyright {
  margin-top: 20px;
  text-align: center;
  padding: 5px 0;
  background: #3027271a;
}
